@import "./variables.scss";

.card {
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background-color: white;
  height: 100%;
  transition: all 0.3s;
  box-shadow: $box-shadow;

  &:hover {
    box-shadow: $box-shadow-hover;
  }
}

li.card {
  list-style: none;
}
